<table data-controller="datatable" 
       data-datatable-name-value="admin/grape_prices"
       data-datatable-request-value="admin/grape_prices/table"
>
  <thead>
    <tr>
      <% columns.each do |column| %>
        <th><%= t(column) %></th>
      <% end %>
    </tr>
  <thead>
</table>