<p>Bonjour,</p>

<% username = (@user.name.nil? || @user.surname.nil?) ? 'Un contact' : "#{@user.surname} #{@user.name}" %>

<p><%= mail_to @user.email, username %> vous partage l'accès à liste de ses parcelles.</p>

<p>Rendez-vous sur <%= link_to 'Gestion Parcelles', new_user_registration_url %> pour vous inscrire avant de la consulter.</p>

<p>Bonne récolte</p>
<p>L'équipe GP</p>
