<% if formulas.present? %>
  <tr scope="footer">
    <% columns.each do |column_name| %>
      <% object = formulas.select { |object| object.has_value? column_name }[0] %>
      <% formula =  object[:formula] if object.present? %>
      <td><%= send(formula, instances) if formula %></td>
    <% end %>
  </tr>
<% end %>
