<tr>
  <% (Parcelle::INSTANCE_VARIABLES - [:polygon]).each do |column_name| %>
  <th id='<%= column_name %>' scope='col'>
    <%= column_name.to_s.humanize %>
  </th>
  <% end %>
</th>
<tr>
  <% (Parcelle::INSTANCE_VARIABLES - [:polygon]).each do |column_name| %>
  <td>
    <%= link_to '', parcelles_path(sort: { column_name => :asc }), class: 'fas fa-arrow-down' %>
    <%= link_to '', parcelles_path(sort: { column_name => :desc }), class: 'fas fa-arrow-up' %>
  </td>
  <% end %>
</tr>
