<div id='map'
  data-mapbox-target='map'
  data-geometry-type=<%= geometry_type %>
  data-parcelles=<%= parcelles.to_json %>
  data-centroid="<%= centroid %>"
  data-view-type="<%= action_name %>"
>
</div>
