<% if parcelles.present? %>
  <table>
  <%= render partial: 'parcelles/table/header', locals: { parcelles: parcelles } %>
    <tbody>
      <% parcelles.each do |parcelle| %>
        <tr id="parcelle_<%= parcelle.id %>">
          <%= render partial: 'parcelles/table/row', locals: { parcelle: parcelle } %>
        </tr>
      <% end %>
    <tbody>
  <%= render partial: 'parcelles/table/footer', locals: { parcelles: parcelles } %>
  </table>
<% end %>
