<div data-controller='mapbox'>
  <%= render partial: 'map',
    locals: {
      geometry_type: @geometry_type,
      coordinates: @multipolygon.coordinates ,
      centroid: @multipolygon.centroid
    }
  %>
</div>
