<h1>Parcelles</h1>
<%= render partial: 'table', locals: { parcelles: @parcelles } %>
<%= link_to :home, root_path %>
<%= link_to :carte, carte_path %>
<button-group>
  <%= link_to 'nouvelle parcelle', new_parcelle_path %>
</button-group>
