<h3><%= @parcelle.lieu_dit %> <%= @parcelle.reference_cadastrale %></h3>
<div data-controller='mapbox'>
  <%= render partial: 'map',
    locals: {
      geometry_type: @geometry_type,
      coordinates: @parcelle.polygon.coordinates,
      centroid: @parcelle.polygon.centroid.coordinates
    }
  %>
</div>
