<div data-controller='mapbox'>
  <% if @centroid.present? %>
    <%= render partial: 'map',
      locals: {
        geometry_type: @geometry_type,
        parcelles: @parcelle,
        centroid: @centroid
      }
    %>
  <% else %>
    <%= link_to t(:back), :back %>
  <% end %>
</div>
