<container-map>
  <div data-controller='mapbox'>
    <%= render partial: 'parcelles/map',
      locals: {
        geometry_type: "null",
        parcelles: nil,
        centroid: "null",
      }
    %>
  </div>
</container-map>


