<container-map>
  <div data-controller='mapbox'>
    <%= render partial: 'parcelles/map',
      locals: {
        geometry_type: nil,
        parcelles: nil,
        centroid: nil
      }
    %>
  </div>
</container-map>


