<table id="invitations" data-controller="datatable" data-action="datatable#create">
  <thead>
    <tr>
      <% columns.each do |column| %>
        <th><%= t(column) %></th>
      <% end %>
    </tr>
  <thead>
</table>
