<table id="tags" data-controller="table" data-action="table#create">
  <thead>
    <tr>
      <% columns.each do |column| %>
        <th><%= t(column) %></th>
      <% end %>
    </tr>
  <thead>
</table>
