<table data-controller="datatable" 
       data-datatable-name-value="tags"
       data-datatable-request-value="tags/table"      
>
  <thead>
    <tr>
      <% columns.each do |column| %>
        <th><%= t(column) %></th>
      <% end %>
    </tr>
  <thead>
</table>
