<p>Bonjour,</p>

<% username = (@user.name.blank? || @user.surname.blank? || @user.name.nil? || @user.surname.nil?) ? 'Un contact' : "#{@user.surname} #{@user.name}" %>

<p><%= mail_to @user.email, username %> vous retire l'accès à liste de ses parcelles.</p>

<p>Bonne récolte</p>
<p>L'équipe GP</p>
