/* widescreen */
@media (min-width: 992px) {
  container-c1 {
    display: block;
    width: 66vw;
  }

  container-flex {
    justify-content: center;
  }
}

/* medium */
@media (min-width: 769px) and (max-width: 991px) {
  container-c1 {
    width: 75vw;
  }
}

/* smartphone */
@media (max-width: 768px) {
  container-flex {
    justify-content: center;
  }

  container-c1 {
    display: block;
    width: 95vw;
    }
}

container-flex {
  display: flex;
}

container-c1 {
  padding: var(--padding-min);
  margin-top: 25px;
}
