submit-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  border-radius: var(--border-radius);
  background-color: var(--green-strong);
  border: 1px solid var(--green-strong);
  font-size: var(--font-small);
  color: var(--grey-light-1);
  font-weight: bold;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    margin: 0;
    border-width: 0.8px;
  }
}

input.button {
  box-sizing: content-box;
  width: 75px;
}

a.button {
  height: 25px;
  padding: var(--padding-medium);
}

.mapboxgl-popup-content a.map-link {
  font: 12px/20px Helvetica Neue,Arial,Helvetica,sans-serif;
  &:hover {
    cursor: pointer;
  }
}

cancel-1 {
  font-size: var(--font-small);
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

/* mapbox controls */
.active-control {
  color: var(--blue-mapbox);
}

.fa-map {
  font-size: 18px!important;
}

.active {
  color: var(--blue-mapbox)!important;
}

.fa-draw-polygon {
  font-size: var(--font-medium);
}
