comment-wrapper {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

comment-2 {
  width: 100%;
}

comment-info {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

comment-email {
  font-size: var(--font-small);
  font-weight: bold;
}

comment-date {
  font-size: var(--font-small);
}

comment-content {
  margin-bottom: 10px;
}

/* widescreen */
@media (min-width: 992px) {

}

/* medium */
@media (min-width: 769px) and (max-width: 991px) {

}

/* smartphone */
@media (max-width: 768px) {
  comment-info {
    flex-direction: column;
  }
}

@media (max-width: 360px) {
  comment-2 {
    max-width: 83vw;
  }
}
