/* widescreen */
@media (min-width: 992px) {
  container-map {
    display: block;
    width: 100vw;
  }

  container-tableau {
    display: block;
    width: 66vw;
  }
}

/* medium */
@media (min-width: 769px) and (max-width: 991px) {
  container-map {
    width: 100vw;
  }

  container-tableau {
    width: 100vw;
  }
}

/* smartphone */
@media (max-width: 768px) {
  container-map {
    display: block;
    width: 100vw;
  }

  container-tableau {
    width: 100vw;
  }
}

body {
  width: 100%;
}

container-flex {
  display: flex;
  margin: auto 0;
  justify-content: center;
  min-height: 90vh;
}

container-block {
  display: block;
}

container-map {
  padding: 0px;
  margin-top: 0px;
}

container-map a, container-tableau a {
  text-decoration: none;
  color: var(--grey-dark);
  &:hover {
    text-decoration: underline;
  }
}

container-tableau {
  padding: var(--padding-medium) 0 var(--padding-high) 0;
}

