/* widescreen */
@media (min-width: 992px) {
  container-map {
    display: block;
    width: 100vw;
  }

  container-tableau {
    display: block;
    width: 66vw;
  }
}

/* medium */
@media (min-width: 769px) and (max-width: 991px) {
  container-map {
    width: 100vw;
  }
}

/* smartphone */
@media (max-width: 768px) {
  container-map {
    display: block;
    width: 100vw;
  }
}

container-flex {
  display: flex;
  justify-content: center;
  overflow: auto;
  min-height: 100vh;
}

container-map {
  padding: 0px;
  margin-top: 0px;
}

container-map a, container-tableau a {
  text-decoration: none;
  color: var(--grey-dark);
  &:hover {
    text-decoration: underline;
  }
}

container-c2 {
  display: block;
  text-align: center;
  margin: 0 auto;
}
