/* widescreen */
@media (min-width: 992px) {
  form {
    width:  300px;
  }
}

/* medium */
@media (min-width: 769px) and (max-width: 991px) {
  form {
    width:  300px;
  }
}

/* smartphone */
@media (max-width: 768px) {
  form {
    width: 100%;
  }
}






input-group {
    display: grid;
    width: 100%;
    grid-template-rows: 25px;
    font-size: var(--font-small);
}

input-group input {
  height: 25px;
  font-size: var(--font-small);
  transition: all 0.7s ease;
  border: 1px solid var(--grey-light-2);
  border-radius: var(--border-radius);
  padding-left: 10px;
  padding-right: 10px;
}

input-group textarea {
  max-width: 800px;
  border: 1px solid var(--grey-light-2);
  border-radius: var(--border-radius);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

input-group label {
  padding: var(--padding-min);
  font-size: var(--font-small);
  position: relative;
  top: 26px;
  left: 0px;
  padding: 5px;
  pointer-events: none;
  transition: all 0.7s ease;
    &.move {
      top: 0;
      left: 0;
      color: var(--green-strong);
      font-size: var(--font-xsmall);
    }
}

input-group p {
  margin: 0;
  font-style: italic;
  font-size: var(--font-xsmall);
}

input-group-avatar {
  display: block;
  width: 100%;
  margin-top: 20px;
}

input-group-avatar label {
    color: var(--green-strong);
    font-size: var(--font-xsmall);
}

link-group {
  display: block;
  a {
    display: block;
    margin: 10px 0;
  }
}

select-group select {
  width: 215px;
  height: 30px;
}

select-group label {
  display: block;
  position: relative;
  top: 5px;
  left: 5px;
  color: var(--green-strong);
  font-size: var(--font-xsmall);
  margin: 10px 0;
}
checkbox-group {
  font-size: var(--font-xsmall);
}

/* general behaviour */

input:-webkit-autofill {
  background-color: transparent;
  color: var(--grey-light-2);
  border: 1px solid var(--grey-light-2);
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 0 transparent !important;
  background-image: none !important;
  filter: none;
}

input:autofill:enabled {
  background-color: transparent;
  color: var(--grey-light-2);
  border: 1px solid var(--grey-light-2);
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 0 transparent !important;
  background-image: none !important;
  filter: none;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  border: none;
  border: 1px solid var(--green-strong);
  border-radius: var(--border-radius);
}

select:focus {
  padding-left: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--grey-light-2);
  border-radius: var(--border-radius);
  -webkit-text-fill-color: none;
}

input::file-selector-button {
  height: 30px;
  width: 85px;
  margin-top: var(--margin-medium);
}

input[type="file"]:hover {
  cursor: pointer;
}

list-1 {
  display: block;
  box-sizing: border-box;
  margin-top: var(--margin-medium);
  background-color: var(--select-background);
  border: 1px solid var(--grey-light-2);
  border-radius: var(--border-radius);
  width: 215px;
  max-height: 150px;
}

list-item {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: var(--padding-mapbox-control);
  border-radius: var(--border-radius);
  &:hover {
    cursor: pointer;
    background-color: var(--select-hover);
  }
}

list-item[data-value="default"] {
  background-color: var(--select-hover);
}
