form.new_parcelle, form.edit_parcelle {
  display: block;
  width: 300px;
  padding: var(--padding-min);
}

input-group {
    display: grid;
    width: 100%;
    grid-template-rows: 25px;
    font-size: var(--font-small);
    padding: var(--padding-min);
}

input-group input {
  width: 200px;
  height: 25px;
  font-size: var(--font-small);
  transition: all 0.7s ease;
  border: 2px solid var(--grey-light-2);
  border-radius: var(--border-radius);
}

input-group label {
  padding: var(--padding-min);
  font-size: var(--font-small);
  position: relative;
  top: 28px;
  left: 0px;
  padding: 5px;
  pointer-events: none;
  transition: all 0.7s ease;
    &.move {
      top: 0px;
      left: 0;
      color: var(--green-strong);
      font-size: var(--font-xsmall);
    }
}

input-group p {
  margin: 0;
  font-style: italic;
  font-size: var(--font-xsmall);
}

link-group {
  display: block;
  padding: var(--padding-min);
  a {
    display: block;
    margin: 10px 0;
  }
}

checkbox-group {
  font-size: var(--font-xsmall);
}

/* general behaviour */

input:-webkit-autofill {
  background-color: transparent;
  color: var(--grey-light-2);
  border: 2px solid var(--grey-light-2);
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 0 transparent !important;
  background-image: none !important;
  filter: none;
}

input:autofill:enabled {
  background-color: transparent;
  color: var(--grey-light-2);
  border: 2px solid var(--grey-light-2);
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 0 transparent !important;
  background-image: none !important;
  filter: none;
}

*:focus {
  outline: none;
  border: none;
  border: 2px solid var(--green-strong);
  border-radius: var(--border-radius);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid var(--grey-light-2);
  border-radius: var(--border-radius);
  -webkit-text-fill-color: none;
}
