@media (min-width: 992px) {
  #map {
    height: 50vh;
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  #map {
    height: 75vh;
    width: 100%;
  }
}

@media (max-width: 768px) {
  #map {
    height:75vh;
    width: 100%;
  }
}

#map {
  box-sizing: content-box;
}
