/* widescreen */
@media (min-width: 992px) {
  #map {
    height: 75vh;
    width: 100%;
  }
}

/* medium */
@media (min-width: 769px) and (max-width: 991px) {
  #map {
    height: 75vh;
    width: 100%;
  }
}

/* smartphone */
@media (max-width: 768px) {
  #map {
    height:75vh;
    width: 100%;
  }
}

#map {
  box-sizing: content-box;
  border-radius: var(--border-radius);
}

.mapboxgl-popup-content-custom .mapboxgl-popup-content {
  padding-top: 15px;
}
