/* widescreen */
@media (min-width: 992px) {
  #map {
    height: 75vh;
    width: 100%;
  }
}

/* medium */
@media (min-width: 769px) and (max-width: 991px) {
  #map {
    height: 75vh;
    width: 100%;
  }
}

/* smartphone */
@media (max-width: 768px) {
  #map {
    height:75vh;
    width: 100%;
  }
}

#map {
  box-sizing: content-box;
  border-radius: var(--border-radius);
}

.mapboxgl-popup-content-custom .mapboxgl-popup-content {
  padding-top: 15px;
}

.search-control {
  display: flex;
  align-items: center;
  position: relative
}

.mapboxlgl-control-icon {
  position: absolute;
  height: 18px;
  width: 18px;
  color: var(--grey-light-2);
}

.search {
  left: 10px;
}

.clear {
  justify-content: center;
  right: 7px;
  font-size: 18px;
  &:hover {
    cursor: pointer;
    background-color: var(--grey-light-1);
  }
}

@media (max-width: 639px) {
  .search {
    left: 15px;
  }

  .clear {
    right: 12px;
    font-size: 20px;
  }
}

@media (max-width:396px) {

}
