container-navbar {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: var(--padding-min);
  z-index: 3;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: var(--grey-dark);
  color: var(--grey-light-1);
  a {
    color: var(--grey-light-1);
    text-decoration: none;
  }
}

.shine {
  color: var(--green-strong)
}
