:root {
  --blue-serious:#293947;
  --green-strong:#149523;
  --green-light: #89d04a;
  --green-fluo: #7fff7f;
  --grey-light-1: #eff0f1;
  --grey-light-2: #ababab;
  --grey-medium: #3F4144;
  --grey-dark: #1e2123;

  --font-xsmall: 12px;
  --font-small: 14px;
  --font-medium: 16px;
  --font-tall: 25px;

  --padding-min: 5px;
  --padding-icon-menu: 7px;
  --padding-medium: 15px;

  --break-point-1: 576px;
  --break-point-2: 768px;
  --break-point-3: 992px;

  --border-radius: 5px;
}

body {
  background-color: rgb(253, 254, 253);
  margin: 0;
  a {
    font-size: var(--font-small);
  }
  p {
    font-size: var(--font-small);
    padding: var(--padding-min);
  }
}

a:focus {
  border: none;
}
