/* widescreen */
@media (min-width: 992px) {
  thead {
    position: sticky;
    top: 70px;
  }
}

/* medium */
@media (min-width: 769px) and (max-width: 991px) {
  thead {
    position: sticky;
    top: 70px;
  }
}

/* smartphone */
@media (max-width: 768px) {
}


table {
  width: auto;
  border-collapse: collapse;
  border: 2px solid var(--grey-light-2);
  font-size: var(--font-small);
  }


th, td {
  border: 1px solid var(--grey-light-1);
  padding: 2px 10px;
}

tfoot {
  font-weight: bold;
}

th[scope='col']#lieu_dit {
  min-width: 200px;
}

th[scope='col']#reference_cadastrale,
th[scope='col']#code_officiel_geographique,
th[scope='col']#annee_plantation {
  width: 100px;
}

th[scope='col']#distance_rang,
th[scope='col']#distance_pieds {
  width: 50px;
}

tr:hover {
  cursor: pointer;
}

tr[data-controller="row"]:hover {
  background-color: var(--grey-light-1);
}

tr[scope='footer'] {
  font-weight: bold;
}

i {
  display: block;
  height: 50px;
  width: 50px;
}

table-tool {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
}

column-options {
  display: block;
}

td-tag {
  display: flex;
  align-items: center;
}

td-tag-name {
  flex-grow: 1;
}

.dt-layout-row {
  font-size: 14px;
}

thead {
  background-color: var(--grey-light-1);
}
