/* widescreen */
@media (min-width: 992px) {
  .dt-type-numeric, .dt-column-title {
    text-align: left;
  }

  th, td {
    border: 1px solid var(--grey-light-1);
    padding: 2px 10px;
  }
}

/* medium */
@media (min-width: 769px) and (max-width: 991px) {
  .dt-type-numeric, .dt-column-title {
    text-align: left;
  }

  th, td {
    border: 1px solid var(--grey-light-1);
    padding: 2px 10px;
  }
}

/* smartphone */
@media (max-width: 768px) {
  thead, tfoot {
    display: none;
  }

  tbody, tr, td {
    display: block;
  }

  colgroup {
    display: none;
  }

  tr {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    background-color: var(--grey-light-1);
    border-radius: 8px;
    padding: 10px;
  }

  td {
    width: 100%;
    padding: 8px 0;
    border: none;
  }

  td::before {
    content: attr(data-label);
    font-weight: 600;
    color: #555;
  }

  td-tag {
    gap: 15px;
  }
}

table {
  width: auto;
  border-collapse: collapse;
  font-size: var(--font-small);
}

.dt-layout-table td p,
.dt-layout-table th,
.dt-type-numeric {
  text-align: left;
}

tfoot {
  font-weight: bold;
}

tfoot th {
  border: none;
}

th[scope='col']#lieu_dit {
  min-width: 200px;
}

th[scope='col']#reference_cadastrale,
th[scope='col']#code_officiel_geographique,
th[scope='col']#annee_plantation {
  width: 100px;
}

th[scope='col']#distance_rang,
th[scope='col']#distance_pieds {
  width: 50px;
}

tr:hover {
  cursor: pointer;
}

tr[data-controller="row"]:hover {
  background-color: var(--grey-light-1);
}

tr[scope='footer'] {
  font-weight: bold;
}

i {
  display: block;
  height: 50px;
  width: 50px;
}

table-tool {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
}

column-options {
  display: block;
}

td-tag {
  display: flex;
  align-items: center;
}

td-tag-name {
  margin-right: 15px;
}

.dt-layout-row {
  font-size: 14px;
  white-space: nowrap;
}

thead {
  background-color: var(--grey-light-1);
}

.dt-layout-table {
  table-layout: fixed; 
  width: 100%;
}

.dt-info {
    white-space: normal;
    word-wrap: break-word;
}
