/* widescreen */
@media (min-width: 992px) {
  wrapper-form {
    width: 50vw;
  }
}

/* medium */
@media (min-width: 769px) and (max-width: 991px) {
  wrapper-form {
    width: 66vw;
  }
}

/* smartphone */
@media (max-width: 768px) {
  wrapper-form {
    width: 100%;
  }
}

wrapper-form,
wrapper-form-connexion {
  display: block;
  padding: var(--padding-medium);
  margin: var(--padding-medium);
  border: 1px solid var(--grey-light-2);
  border-radius: var(--border-radius);
  background-color: var(--green-light);
  overflow: scroll;
}

wrapper-form-connexion {
    width: 300px;
}
