<p>Bonjour</p>
<p> Concernant votre adresse <%= @resource.email %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous notifions le changement de votre adresse email pour <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous notifions le changement de votre adresse email pour <%= @resource.email %>.</p>
<% end %>
