<p>Bonjour</p>

<p>Concernant votre adresse email <%= @resource.email %></p>

<p>La réinitialisation de votre mot de passe a été demandée.</p>
<p>Vous pouvez le faire en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, ignorez ce message.</p>
<p>Votre mot de passe ne changera pas tant que vous n'aurez pas activé le lien pour aller le changer.</p>
