<container-tableau>
  <h3>Fournisseurs</h3>
  <%= render partial: 'table', locals: { columns: Supplier::INSTANCE_VARIABLES } %>

  <link-group>
    <%= link_to 'nouveau fournisseur', new_supplier_path, data: { navbar_target: 'link' } %>
  </link-group>
</container-tableau>
